<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body >
<section >
    <div >
        <div >
            <form class="form-signin" th:action="@{/userLogin}" method="post" >
                <div class="form-signin-heading text-center">
                    <h1 class="sign-title">登录系统</h1>
                </div>
                <div class="login-wrap">
                    <input type="text" name="username"  value="root" required class="form-control" placeholder="请输入账号" autofocus>
                    <input type="password" name="password" value="123456" required class="form-control" placeholder="请输密码">

                    <button class="btn btn-lg btn-login btn-block" type="submit">
                        登录
                    </button>
                </div>

                <!-- Modal -->
                <!-- modal -->

            </form>

        </div>

    </div>
    </div>
</section>

</body>
</html>